body p{
    text-align: justify !important;
}
nav{
    background-color: blueviolet !important;
}

.info img{
    width: 15%;
    margin-left: 2%;
   
}
.info h1{
    margin-top: 5%;
}
img{
    width: 100%;
}

footer{
    background-color: rgb(47, 7, 85);
    color: white;
}

#texto a,p{
display: block;
}